@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Homepage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<html>
<head>
	<link href="/css/TextStyles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	
	@CurrentPage.GetGridHtml("homeGrid")	
</body>



</html>